body{
  margin: 0;
}

.weather-container{
  width: fit-content;
  border-style: groove;
}

.temp{
font-size: 30px;

}



.humid, .wind, .aqi, .feels, .clouds{
  display: flex;
  justify-content: space-between;
}