body{
  margin: 0;
}

.weather-container{
  width: fit-content;
  border-style: groove;
  background: Linear-gradient(to right,#fbfba3, #75ede3);
  height: 430.875px;
}

.temp{
font-size: 30px;

}



.humid, .wind, .aqi, .feels, .clouds{
  display: flex;
  justify-content: space-between;
}

